/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{
  margin: 0;
  padding: 0;
}

a{
  color: #b30000;
}

a:hover{
  color: black;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background-color: #e6e6e6;
  height: auto;
  width: 100%;
  padding: 0;
}

#header a{
  color: black;
  font-size: .90vw;
  font-weight: 500;
}

#header a:hover{
  color: #b30000;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.placeholder{
  height: 1200px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#footer a{
  color: black;
}

#footer a:hover{
  color: #b30000;
}
